h1, h2, h3, h4, h5, h6 {
  color: blue;
  font-family: sans-serif;
}

th {
  font-weight: bold;
  border: 1px solid black;
  align-items: right;
}

#teamRoster li{
  list-style: square;
}

a:hover, :visited, :link {
    color: hotpink;
    text-decoration: none;
}

body > blockquote {
  background-color: black;
  color: white;
}

#teamRoster li > img {
  visibility: hidden;
}

#teamRoster li:first-child > ul{
  background-image: url(https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

#teamRoster li:nth-child(2) > ul{
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

#teamRoster li > ul > li:first-of-type {
  font-weight: bold;
}

#checkbox-grid {
  list-style: none;
}
