h1, h2, h3, h4, h5, h6 {
  color: blue;
  font-family: sans-serif;
}

th {
  font-weight: bold;
  border: 1px solid black;
  align-items: right;
}

li{
  list-style: square;
}

a:hover, :visited, :link {
    color: hotpink;
    text-decoration: none;
}
